﻿<%@ Page Language="C#" Inherits="MediaVault.Photo" %>
<!DOCTYPE html>
<html>
<title>Photo</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="Default.aspx" class="w3-bar-item w3-button w3-theme-l1">Log Out</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" style="z-index:3;width:250px;margin-top:43px;" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
		<br>
			<a href="Photo.aspx" class="w3-bar-item w3-button w3-teal">Photos</a>
			<br>
			<a href="Video.aspx" class="w3-bar-item w3-button">Videos</a>
			<br>
			<a href="Ebook.aspx" class="w3-bar-item w3-button" >Ebooks</a>
			<br>
			<a href="Audio.aspx" class="w3-bar-item w3-button">Audios</a>
			<br>
			<a href="Upload.aspx" class="w3-bar-item w3-button">Uploads</a>
  <!---<a class="w3-bar-item w3-button w3-hover-black" href="#"></a>-->
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
         

<div class="w3-main" style="margin-left:250px">


  <div class="w3-row w3-padding-64">
<!--    <div class="w3-twothird w3-container">
					 <form id="photoform" runat="server">
	</form>
    </div>-->


 <div class="w3-row w3-grayscale-min" runat="server" style="padding-left:16px; padding-right:16px;">
				 <div id ="firstquarter" runat="server" class="w3-quarter" >
					</div>
				 <div id ="secondquarter" runat="server" class="w3-quarter" >
					</div>
				 <div id = "thirdquarter" runat="server" class="w3-quarter">
					</div>
				 <div id = "fourthquarter" runat="server" class="w3-quarter">
					</div>
 </div>
				</div>

			 <!-- Modal for full size images on click-->
  <div id="fullscreen" class="w3-modal w3-black" style="padding-top:0 " onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright ">x</span>
    <div class="w3-modal-content w3-black w3-animate-zoom w3-center w3-padding-64" style="z-index:7000">
      <img id="img" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>
			
  <!-- Pagination -->

  <footer id="myFooter" style=" width:100%">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4>Group 33</h4>
    </div>

  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}

function onClick(element) {
  document.getElementById("img").src = element.src;
  document.getElementById("fullscreen").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>


